# App
NODE_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_NAME=ai_code_review

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Internal service communication
INTERNAL_SERVICE_SECRET=

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# GitHub App
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=
GITHUB_APP_CALLBACK_URL=

# AI Provider
AI_PROVIDER=

CLAUDE_API_KEY=
GROQ_API_KEY=

# Services ports
API_GATEWAY_PORT=3000
AUTH_SERVICE_PORT=3001
REVIEW_QUERY_SERVICE_PORT=3003

# Frontend
FRONTEND_URL=http://localhost:3006
FRONTEND_PORT=3006